[2019-04-27 11:54] marcusfuchs commented on #297
@mlauster Thanks, maybe if one works the other will also fall into place.

And I think your comment in the IBPSA issue pointed me towards the missing link to understand why the test fails in Python. In the Modelica implementation, the heater is connected to `thermalZoneTwoElements.intGainsConv`, but the cooler is connected to `thermalZoneTwoElements.intWallIndoorSurface`. In contrast, in the Pytho

[2019-04-28 18:01] marcusfuchs commented on #297
Great news: All test cases are now working :tada: . I still think this needs a lot of refactoring, testing, and improvements, but the foundation should be sound and well with a working VDI validation covering all 12 test cases.

[2019-04-28 19:05] MichaMans commented on #297
@marcusfuchs this are great news! Please let me know if you need some help or discussions on this

[2019-04-30 07:41] marcusfuchs commented on #297
Thanks, I'm sure some things will come up during the next steps.

[2019-04-30 17:57] PRemmen commented on #510
@MichaMans the unit tests for VDI calculation do not work although they work locally. Do you have any idea why?

[2019-04-30 18:00] MichaMans commented on #510
@PRemmen could you please be a little bit more specific? Whats the vdi calculation test and what exactly is failing?

[2019-05-02 12:10] PRemmen commented on #510
@MichaMans

https://github.com/RWTH-EBC/TEASER/blob/31adfa7f4109920729e6ea24a82d5e0e7f1f995e/tests/test_data.py#L21
https://github.com/RWTH-EBC/TEASER/blob/31adfa7f4109920729e6ea24a82d5e0e7f1f995e/tests/test_data.py#L46
https://github.com/RWTH-EBC/TEASER/blob/31adfa7f4109920729e6ea24a82d5e0e7f1f995e/tests/test_data.py#L71
https://github.com/RWTH-EBC/TEASER/blob/31adfa7f4109920729e6ea24a82d5e0e7f1f

[2019-05-03 12:49] PRemmen commented on #510
It was actually a stupid mistake. In Python 3.6 onward implemenatation of python dictionary changed (now dictionaries are ordered by default). For other options we need to tell the json encoder to order the entries, see commit: abfff6bf6bbe75c439521990dacbba77212bde17 locally all tests are running for version 2,7 3.4 3.5 3.6 and 3.7 let's see if travis also likes my changes :)

[2019-05-03 13:51] PRemmen opened #583 "Delete simulation examples"
## What is the problem?

- some of the files are full of hardcode paths
- the workflow is quite old
- it needs complicated dependencies

## Why do we want to solve it?

- to make teaser more slim

## How do we want to solve it?

- delete it

[2019-05-09 10:03] marcusfuchs opened #585 "Drop Python 2 support"
The clock is ticking: https://pythonclock.org/

In order to make development easier, I would suggest to stop testing for and supporting Python 2 as soon as possible. I would even go further and drop support for anything < 3.6 . It's an easy simplification of the development process and I would expect this to not affect any users?

My ideal outcome of this issue would be to drop support for anythin

[2019-05-09 10:28] MichaMans commented on #585
@marcusfuchs i think we currently have no roadmap for a python 2 exit strategy, especially no timeline. But why not using the clock you posted 😃
As you question/suggestion is quite out of context, its hard for me to really rate it. I think at the moment the current overhead for supporting python 2 and <3.6 is not that much. BUT i took a look at https://www.jetbrains.com/research/python-developers-

[2019-05-09 11:04] marcusfuchs commented on #585
Here is an example: In #570 the tests work for Python 3, but not 2 (see https://travis-ci.org/RWTH-EBC/TEASER/builds/521159522?utm_source=github_status&utm_medium=notification). Should we really spent energy on fixing the tests for Python 2? In addition, I think it would be nice to not have all these `future` imports that cause a warning in IDEs about version conflict. And furthermore, if we could

[2019-05-09 12:03] MichaMans commented on #585
I agree. Lets drop it, if @PRemmen agrees

[2019-05-09 13:18] mlauster commented on #585
I'm also still available! :) I'm fine with dropping

[2019-05-09 21:07] PRemmen commented on #585
Totally fine with it.

I would also prefer dropping everything below 3.6 (see my issues with python below python 3.6 #510 ).

[2019-05-10 07:05] marcusfuchs commented on #585
Great, I'm happy about the fast agreement and created a PR.

[2019-05-15 10:46] MichaMans commented on #567
I reopened the issue because of the ongoing discussion in RWTH-EBC/AixLib#690

We can think about several implementations. My suggestion would be a reference oriented integration. Meaning that the main reference of the internal gains are the SIA, providing the following information:
- Person schedule in percentage of maximum
- Person area in m²/Person
- Aktivity type in met
- mean sensible heat em

[2019-05-15 12:56] MartinRaetz commented on #567
I appreciate it. But I think we should precisely determine what certain parameters in the SIA actually represent. For example, I am not sure whether the activity type is already part of the calculation to achieve the mean sensible heat emission of 70W/Person and the mean moisture production of 80g/(h*p).

I also think that calculations, except those regarding the resistances and capacities of the

[2019-05-15 13:13] MartinRaetz commented on #567
The definition of the activity type is: 1 met = 58 W/m² (Body surface)
The mean sensible heat emission and the mean moisture production is calculated via the activity type, a body surface of 1,8 m² and a room temperature of 24°C.

The respective pages from the SIA2024:2015 are attached in this comment.
[Scan20190515151128.pdf](https://github.com/RWTH-EBC/TEASER/files/3182618/Scan20190515151128.pdf

[2019-05-15 13:36] KremerMartin commented on #567
I appreciate it, too. In my opinion we should also do the calculations in the AixLib. We won't need a heat or moisture output per person. This could be misleading for the user.

@MartinRaetz The VDI references the DIN 13779, where the activity type is defined just the same way you have posted above (see attached). The VDI classifies activity levels out of the activity types.

![DIN13779_ActivityTy

[2019-05-15 14:24] PRemmen opened #587 "Code formatting"
## What is the problem?

- current developers are using different linter tools to format code (we have been using linter-flake8, others are using black @marcusfuchs, @miraschmid)
- I have no strong feelings about what to use (we can move to black)
- However, black uses 88 characters per line we need to agree on the same settings

## Why do we want to solve it?

- to not have a lot of overhead beca

[2019-05-15 14:53] marcusfuchs commented on #587
In order to avoid any confusion and have the most simple setup, we use black as it comes out of the box without changing any settings, i.e. also using the 88 characters by default.

[2019-05-15 15:03] #587 closed

[2019-05-16 10:05] MichaMans commented on #567
@MartinRaetz
I fully agree. So we'll let the W/Person output out and we will calculate that on formula basis in the aixlib model. I'm fine with that. Nevertheless i slightly disagree with your opinion on

I think the understanding of the calculation is easier to understand in modelica, yes, but the change of the input should be easier with TEASER as long you are following a TEASER based workflow.

[2019-05-16 10:11] MartinRaetz commented on #567
@MichaMans I agree with you! I would as well carry any adjustable input via Teaser to Modelica. Like that we enable

[2019-05-16 10:23] KremerMartin commented on #567
@MichaMans Yes. With his suggestion the implementation in Modelica can be done.

[2019-05-16 10:24] AnaConstantin commented on #567
Hi everyone, in my opinion the input parameters we need (TEASER / Modelica should be the same) for internal gains through occupants for different type of zones
- occupant presence as a schedule : percent normed (0 to 1) over a period of time (days, week)
- occupant density in persons / m2
- heat / humidity output: as a function from temperature, given as a set of polynomial coefficients. A constan

[2019-05-16 10:47] MichaMans commented on #567
@AnaConstantin I am not sure if i can fully agree on:

As SIA bases on m²/Persons, i would take this value
And do i understand it right that you want to integrate the full formula of the heat output in TEASER? I think in the end the key is that we of course have all input parameters for the modelica model in TEASER, but for example the formula is not an input more the actual model, we don't need t

[2019-05-16 12:20] KremerMartin commented on #567
@AnaConstantin I agree to @MichaMans . We should not use a formula as output from teaser. If the ROM will be used stand alone (without Teaser), which is possible, it won't be understandable how the internal gain model works. If we implement the formula in the AixLib it will work fine and reduce the calculation steps in Teaser.

[2019-05-19 18:04] AnaConstantin commented on #567
@MichaMans and @KremerMartin thank you for your comments.
Regarding persons / m2 - SIA might use m2/persons, but ASHRAE 90.1 and DIN 18599 use persons / m2. Also other types of internal gains (lights and appliances) are also expressed per surface (W/m2). I like it better to have every type of internal gain expressed in the same manner.
Regarding the calculation of heat load, the input for Teaser a

[2019-05-20 07:55] KremerMartin commented on #567
@AnaConstantin @MichaMans
So, if I take it right, in Teaser we implement an option to calculate the internal gains of the humans by constant value or by a formula like in VDI 2078.
The question is, is it reasonable to let the user set the coefficients of the formula. In my opinion we should stick to the norms. The user can decide, whether he wants to calculate with the standard value for heat outp

[2019-05-20 10:14] AnaConstantin commented on #567
@KremerMartin I would argue that SIA also uses a formula, as stated in the standard. This is why I think it is important to have a flexibility in setting this parameter. I think however that we can give the user some choices, like a drop down menu of different functions (as in Modelica Functions) and in this way the user can build a new function if desired. The transfer from TEASER to Modelica is

[2019-05-20 10:43] DaJansenGit commented on #567
@KremerMartin and @AnaConstantin
Regarding the temperature sensitivity I like the idea that Ana brought up, because the user can export everything from TEASER directly and directly knowns how the internal gains will be calculated. By setting a default parameter set the usability will be given as well. To prevent wrong calculations we can implement a test function in python to make sure, the given

[2019-05-20 16:20] MartinRaetz commented on #567
Thank you all! @DaJansenGit @MichaMans @AnaConstantin @MichaMans
I just want to add my opinion:

I agree with Ana on keeping all internal gains in a similar format, i.e. have Teaser recalculating its input "m2/person" to output "person/m2". People who just use the AixLib would be less confused.

On the other hand, I think we should not make this internal gains model more complex than it has to be.

[2019-05-21 07:40] KremerMartin commented on #567
@MartinRaetz @AnaConstantin @DaJansenGit @MichaMans
Thanks for your comment. I agree also to Martin and Ana to keep the inputs for modelica in a similar format.

@MartinRaetz I think you misunderstood @AnaConstantin . She does not want to replace the internal gain model. There are different norms that provide formulas for calculating the temperature dependency of the heat/ moisture output. To fit

[2019-05-21 08:18] AnaConstantin commented on #567
@KremerMartin I like your suggestions.

[2019-06-12 08:31] MichaMans commented on #566
The currently shipped weather file leads to error in the simulation. I think we should change it to a working one

[2019-06-13 14:08] DaJansenGit opened #588 "IdealHeaterCooler Outside temperature controlled"
With the integration of https://github.com/RWTH-EBC/AixLib/pull/732 into AixLib we have a controller that sets the ideal heater cooler active or unactive by taking the outside air temperature into account. For TEASER we need to integrate some parameters for export to parameterize the controller.
This will be:

- _zoneParam.use_conditions.T_threshold_IdealCooler_ Threshold temperature for cooling (

[2019-06-18 14:50] #560 closed

[2019-07-02 13:35] PMehrfeld opened #590 "Renaming: alpha becomes hConv and hRad"
@MichaMans: As bespoken:

Related...
- Issue: https://github.com/RWTH-EBC/AixLib/issues/711
- PR: https://github.com/RWTH-EBC/AixLib/pull/723
- comment: https://github.com/RWTH-EBC/AixLib/pull/723#discussion_r299473444

[2019-07-04 07:44] MichaMans commented on #590
as https://github.com/RWTH-EBC/AixLib/pull/723 got merged, we should fix the naming in the teaser dev asap

[2019-07-05 07:39] DaJansenGit opened #592 "Naming convention "equipped" in ThermalZone"
This issue is related to https://github.com/RWTH-EBC/AixLib/issues/707. According to the name changes there, we need to change some lines in the mako export files. I will deal with this issue at the next hackday.

[2019-07-09 12:52] LauraMaier commented on #572
@TobiasBoeth Are you still working on that bug ? :)

[2019-07-10 08:28] DaJansenGit commented on #567
The final implementation will be:
**TEASER Changes**

* Persons/m2 will be implemented in TEASER
* Schedule will not be touched
* TEASER gets three new options:
  * Boolean internalGainsTemperatureIndependent
  * Boolean internalGainsTemperatureDependent (default value)
  * Boolean internalGainsWithMoisture
* The mako templates will be changed to export dynamically depending on the above three opt

[2019-07-10 09:24] DaJansenGit commented on #567
after completing this topic we can also delete the branches for the following issue(es):
* https://github.com/RWTH-EBC/TEASER/issues/523

[2019-07-10 09:49] XucYin commented on #572
Spontaneously I have made the modification and created a PR. #593

[2019-07-10 10:01] DaJansenGit commented on #567
due to the changes ongoing with https://github.com/RWTH-EBC/TEASER/pull/584 I would suggest we finalize everything but don't touch the UseConditions.xml anymore, because those will be replaced by the json files in the near future. We wait for the PR to be done and change the .json files then.
Is this ok for you @MartinRaetz @KremerMartin @MichaMans ?

[2019-07-10 10:51] KremerMartin commented on #567
@DaJansenGit I think this will be ok.

[2019-07-10 12:48] MartinRaetz commented on #567
@DaJansenGit I also agree!

[2019-07-10 15:48] DaJansenGit commented on #567
We also need to adjust the export for the annex/ibpsa library. This uses a W/m2 approach at the moment.

[2019-07-10 15:56] DaJansenGit commented on #567
Changes for json:
* Implement activity type
*  Implement fixed heat flow rate
* Persons per m2
Because both depend from the zone

[2019-07-10 17:12] XucYin commented on #572
It seems that the values of wall area in test_data.py also need some changes.

[2019-07-11 12:52] DaJansenGit commented on #567
Changes to the ibpsa export:
Before: persons is w/m2 but as the prior version likes it to be persons/m2 it multiplies by 0.01 which is 1/(watt/person), multiplying this with some (w/person)which is (activitytype * 50w). Now multiplying correctly with the area and the ratio_conv.
Now: persons is persons/m2 multiplying this with heatflowperperson (w/person) which is depending on the respective zone

[2019-07-17 15:54] XucYin commented on #574
The unit tests failed because the Modelica **Buildings** Library has a new release [6.0.0](https://github.com/lbl-srg/modelica-buildings) but the version number number of it is 5.1.0 in TEASER (ibpsa.py).

[2019-07-19 08:00] XucYin commented on #572
This issue is solved in PR #595 together with a version number update.

[2019-07-19 08:00] #572 closed

[2019-07-22 14:33] XucYin opened #597 "Inconsistent version number in tags"
## What is the problem?

The tag number of the current release ([view tags](https://help.github.com/en/articles/viewing-your-repositorys-tags)) is one step back as the version number in README.md, setup.py and doc/conf.py (probably since tag [v0.6.7](https://github.com/RWTH-EBC/TEASER/tree/v0.6.7)).

## How do we want to solve it?

I'm not sure if I'm the right person to manage the releases. It wo

[2019-07-23 06:01] MichaMans commented on #597
@XucYin Seems that we forgot to draft a new release once. However i updated the actual one to 0.6.9 so it should be fine now. Please close this, if you agree.

[2019-07-23 06:15] XucYin commented on #597
@MichaMans Thank you for the rapid editing! Now it looks good. So I close this issue.

[2019-07-23 06:15] #597 closed

[2019-07-31 07:20] maxmegaman opened #598 "Changing zone_area_factors within project does not work"
## What is the problem?

- We want to create the default office non-residential building within a project and change the default zone_area_factors to create our own non-residential building.
- After overriding the default zone area factors we ran the comand `calc_all_buildings` and tried to export the project to AixLib.
- The export works fine but after opening the created building in Dymola the n

[2019-07-31 07:41] MartinRaetz opened #599 "Building data import script"
## What is the problem?

-  It´s tedious to implement each wall segment by hand. An automated import script is desired.

## Why do we want to solve it?

-

## How do we want to solve it?

- With an import script. This script will import building data from an Excel file and initiate the respective zones, walls, windows, etc. in Teaser. Some additional parameters are imported as well. Additional par

[2019-07-31 07:57] MichaMans commented on #599
@MartinRaetz I like that! We can think about an implementation in the example section.

[2019-07-31 08:59] MartinRaetz commented on #599
@MichaMans would you think this "Tool" should be part of Teaser or rather referenced in Teaser and maintained in another repository?

If it should be in Teaser, I thought about adding a new folder named "import scripts" or similar, where all kind of import methods can be collected, e.g. the CityGML import of @PRemmen. You may have a look at the branch and let me know about the desired structure.

[2019-07-31 09:08] MichaMans commented on #599
@MartinRaetz maybe a few comments:

I would rather see this as an example then an import script. Reasons for me personally are, that if we support some kind of import of other formats natively, we should implement that in the project or something like this, but i am not sure if we want support an excel import natively. Thus, i follow that we first implement that as an example and also provide the

[2019-07-31 09:29] MartinRaetz commented on #599
@MichaMans I agree with you.

[2019-08-01 06:58] maxmegaman commented on #598
A solution was found for this problem.
The solution is to run the generate_archetype() method after changing the zone_area_factors.
Pleaser find a minimal example how to change the zone_area_factors here:
[example.py.zip](https://github.com/RWTH-EBC/TEASER/files/3455309/example.py.zip)

[2019-08-01 06:58] #598 closed

[2019-08-01 07:55] PRemmen commented on #599
I'm also in favor of an example. TEASER was actually "designed" to easily interface to lots of different data formats (like you mentioned citygml, databases, ...). As EXCEL is a common tool we can provide a nice example but I would not implement it in the workflow of TEASER. This typically means a lot of maintanence work, e.g. if something changes in the strucutre of TEASER, an example is fixed mo

[2019-08-04 17:12] #574 closed

[2019-08-14 16:05] AmeCode opened #601 "[Question] Running simulation Examples what is wrong?"
1. When I ran TEASER\teaser\examples\e2_export_aixlib_models.py in python and open TEASEROutput\ArchetypeExample\Package.mo with Dymola and click simulate on any of the objects under ArchetypeExample (ResidentialBuildingTabula) I get the following result:
[https://ibb.co/6t5cJdz](url)
[https://ibb.co/qJ8SH1y](url)
2. When I ran TEASER\teaser\examples\e3_export_ibpsa_models.py in python and open an

[2019-08-14 18:03] mlauster commented on #601
@AmeCode, your links does not seem to work, at least for me. You can upload images directly to github.

[2019-08-15 07:06] MichaMans commented on #601
@AmeCode i think you figured it out in the meantime. (discussion via email) Please reopen the issue if you facing some problems again.

[2019-08-15 07:06] #601 closed

[2019-08-26 14:19] PRemmen opened #602 "UseConditions Input: missing with_ahu"
## What is the problem?

- in json input the with_ahu attribute is missing

## Why do we want to solve it?

- to have ahu in laboratories

## How do we want to solve it?

[code]

[2019-09-02 00:31] AmeCode commented on #601
If anybody can at least run the output from the third example: e3_export_ibpsa_models.py (which seems to be good to run with OpenModelica or Dymola or JModelica) with OpenModelica, as I now need them to run with OpenModelica (or any other free licence software as it is part of my thesis), please provide me with the way of doing so as I keep getting errors with OpenModelica v1.14.0, TEASER 0.6.9 an

[2019-09-09 08:57] AmeCode opened #603 "[Questition] How can I supply the internal gains from a .mat file and not use the default"
Hi all,
I have used the multizone model, which takes WeaData, Internal Gains, T_set and a constant as an input. I generated the model for Dymola using the second example provided in TEASER(http://rwth-ebc.github.io/TEASER/teaser_api_example.html#example-2-export-modelica-models-for-aixlib-library-using-teaser-api) and the weather data is added by prj.weather_file_path(), but how can I add the inte

[2019-09-09 13:11] MichaMans commented on #603
@AmeCode if you have already prepared your own mat file, you can simply change it in the Modelica Model. The CombiTimeTable is able to load your mat file if you change the path to your own file in that model.

[2019-09-09 20:34] AmeCode commented on #603
Thanks @MichaMans for your quick reply. But I need a way to change it from TEASER directly like the way I can add my own weather file using prj.weather_file_path(), without opening Modelica.

[2019-09-10 05:29] mlauster commented on #603
Then name your .mat file like in Teaser and replace the generated ones by your own in the subsequent folders. If you need this done automatically, write a python script for this task.

[2019-09-15 13:24] PRemmen commented on #603
Just adding my 2 cents: Best option would not to use a manually created file but to change the time series for internal gains in the corresponding use_conditions of the thermal zones. This has become a lot easier in current development branch

[2019-09-15 13:25] #603 closed

[2019-09-15 13:26] PRemmen opened #604 "Prepare next release"
## What is the problem?

- We haven't released a new version for quite some time, but there have been a lot improvements that are already in branch

## Why do we want to solve it?

- To provide users the new nice features of TEASER

## How do we want to solve it?

- Define what kind of issues needs to be solved for next release and then merge development into master. @MichaMans any suggestions on

[2019-09-15 13:27] PRemmen commented on #604
I suggest that @PRemmen  solves #602 before new release ;-)

[2019-09-15 13:29] MichaMans commented on #604
I think we also need to check with @DaJansenGit, @KremerMartin  and @MartinRaetz how their progress is and if there is something we need to consider 😃

[2019-09-15 14:15] PRemmen commented on #567
@DaJansenGit do you need any help, I think this is also a feature to be integrated into the next release #604

[2019-09-16 07:00] DaJansenGit commented on #604
#567 is still ongoing, we need someone to recalc everything from SIA to person/m2 and insert the data into the .json files. Maybe one of you has some hiwi capacities to do this? :) @PRemmen @MichaMans @KremerMartin @MartinRaetz

[2019-09-16 07:46] DaJansenGit commented on #604
We want to release a new version of AixLib as well with https://github.com/RWTH-EBC/AixLib/milestone/5
Since we have non backward compatible changes in both, AixLib and TEASer, we should try to do this together so that the current realeases work together

[2019-09-16 14:08] KremerMartin commented on #604
@PRemmen @MichaMans @MartinRaetz
My Hiwi will prepare the necessary implementations into the .json files. @DaJansenGit will instruct him what to do.

[2019-09-17 12:56] PRemmen commented on #604
@KremerMartin @DaJansenGit Nice! :) it should not be very hard to do it (as it is json! 👍 ) If you need any help I can help.

Releasing new versions of aixlib and teaser at the same time is a very nice idea! :) is 20th semptember a fixed date?

[2019-09-17 15:07] KremerMartin commented on #567
Christoph (my Hiwi) has implemented the parameters and I have pushed the change in commit ee317b9 .
As the SIA 2024 does not contain some declared zone types, Christoph made some assumptions for the missing parameters (person/m², moisture gain from other than people, activity type, fixed heat flow rate).
Here the list:

- Kitchen - preparation, storage: Same as kitchen with reduced moisture gains

[2019-09-18 17:47] DaJansenGit opened #605 "Rename export files for zoneRecords"
Due to the changes in https://github.com/RWTH-EBC/AixLib/pull/753/ (e.g. hConvWin -> hConWin) we need to change the export files.  This should be done with the new release #604 . I will do this with the changes made in #567 .
Nevermind: this was wrong, the changes were already done before.

[2019-09-18 17:50] #605 closed

[2019-09-26 03:34] AmeCode opened #606 "[Question] How is the parameter calculated"
Hi there,
I managed to run the modelica model generated by TEASER using Dymola. There is a parameter, which I try to compare with its counterpart from another methodology (other than TEASER). I am looking for the parameter which stands for the total required heat energy of the building and
I think that parameter is multizone.PHeater[1].
How is this parameter calculated or which are the main parame

[2019-09-30 06:40] MichaMans commented on #606
@AmeCode I'm not really sure what you are looking for, but the PHeater value is the heating power provided by an ideal heater, controller via a idealized (at least that's the indention) PI Controller, to achieve the set point temperatures for the thermal zone in the building.

[2019-09-30 19:34] AmeCode commented on #606
Thanks @MichaMans, What am I looking for are the factors changing PHeater value, for example heat flow due to ventilation losses or heat flow due to solar radiation any other factor which may change the PHeater values.

[2019-10-05 18:26] #606 closed

[2019-10-05 18:33] AmeCode opened #607 "[Question] how to calculate ventilation heat losses?"
Hi there,
I need a way to calculate the heat losses due to Ventilation in TEASER. Is there a parameter which indicates Q_flow due to ventilation/infiltration ?
Any help would be appreciated.
Greetings,
Ahmed Amer

[2019-10-07 06:40] MichaMans commented on #607
@AmeCode If I understand that right, you can find these values in the Ventilation and Infiltration area in the ThermalZone. Hope that helps. The heat transfer there should be related to ventilation and infiltration heat transfers.
![image](https://user-images.githubusercontent.com/15192234/66289613-76334a00-e8dd-11e9-9c9d-0d1c886dce15.png)

If you are looking for a parameter to change the infiltra

[2019-10-13 14:27] AmeCode commented on #607
Thanks @MichaMans it has helped me a lot :)

[2019-10-14 16:14] #607 closed

[2019-11-05 11:10] MartinRaetz opened #612 "Add CO2 balance"
## What is the problem?

The AixLib ROM shall be extended with a CO2 balance.
This is related to the AixLib Issue: https://github.com/RWTH-EBC/AixLib/issues/797

[Branch: issue612_co2Model](https://github.com/RWTH-EBC/TEASER/tree/issue612_co2Model)
## Why do we want to solve it?

Teaser has to be adjusted, to provide the possibility to select this CO2 balance.
Otherwise, it is not compatible to th

[2019-11-08 08:55] marcusfuchs opened #613 "Add a dev-channel to the automated deployment to PyPI"
## What is the problem?

As discussed with @PRemmen , we think it would be great to auto-deploy TEASER's development branch to PyPI. Currently, PyPI serves all releases made from TEASER's master branch. Yet, many improvements stay in the development branch between releases. Therefore users (and CI-Pipelines) need to manually clone, checkout the development branch and manually install the local cop

[2019-11-15 08:07] MichaMans commented on #613
@marcusfuchs
Thanks for this idea!
I would definitively stay with a development branch. So option 1 would be the only one I could vote for.

But maybe a more general thought. Would it really be more effortless then just installing the development version with pip, directly from github?
e.g.
[code]

[2019-11-15 10:00] marcusfuchs commented on #613
@MichaMans Thank you so much for this information. I was not aware that pip can install from the repo like this - I thought only packaged installations from PyPI were possible. Your solution solves our use case perfectly, so I'm closing this. Thanks again!

[2019-11-15 10:00] #613 closed

[2019-11-15 15:43] marcusfuchs opened #614 "Danish Tabula archetypes missing in setup.py - causes incomplete installation"
This is related to #613 :

When installing TEASER via `pip install --upgrade git+https://github.com/RWTH-EBC/TEASER@development` the installation is not working. The cause is that `project.py` imports the Danish tabula buildings, but these files are missing from the installation via the command above. I think that [this answer on Stackoverflow](https://stackoverflow.com/a/10851054/3219539) points

[2019-11-18 16:02] PRemmen opened #616 "Update version number for development"
## What is the problem?

- AixLib development branch changed its version

## Why do we want to solve it?

- automatic simulation

## How do we want to solve it?

- increase version number of aixlib in teaser

[2019-11-18 16:04] PRemmen commented on #616
I accidentally pushed into development, if tests are running I will not revert the commit.

Sorry! Bad workflow and will not happen again!

[2019-11-18 16:04] #616 closed

[2019-11-27 10:30] DaJansenGit opened #617 "Integrate threshold temperatures for ideal heaters and coolers"
This belongs to:
https://github.com/RWTH-EBC/AixLib/pull/732

[2019-11-28 15:23] MartinRaetz commented on #543
I want to add my conclusion of the present state of the development regarding this sunblind issue:

There are unused parameter in the TypeBuildingElements Json files.
*"shading_max_irr"
*"Shading_g_total"

The WindowElement parameter "shading_max_irr" is not passed on in Teaser.
"Shading_g_total" will be converted to "g_sunblind" but is also not passed on anymore.

In the Modelica AixLib there is

[2019-12-11 16:29] maxmegaman opened #619 "Which are valid attributes of project.retrofit_all_buildings()?"
Dear TEASER-Team,

Is it possible to find valid values of all attributes in project.retrofit_all_buildings()?
Regarding to the documentation, the doctrings and the provided example 6 the following attributes can be set:
- year_of_retrofit = [`1995 <= year_of_retrofit <= 2015`],
- type_of_retrofit = [`retrofit`, `adv_retrofit`]
- window_type = [`Alu- oder Stahlfenster, Isolierverglasung`, ???]
- ma

[2019-12-15 16:27] MichaMans commented on #619
@maxmegaman

[2019-12-16 08:49] maxmegaman commented on #619
Thanks a lot for your quick reply.

I was looking for a solution for IWU archetypes. Sorry for not mention it before.
The solution you provided worked out to find the thickness of the outer layer. Also other data, e.g. conductivity, capacity and area, could be extracted in the same way.
Furthermore, it helped a lot to use the debugger mode of a Python IDE to check all available parameters and vari

[2019-12-16 08:49] #619 closed

[2019-12-20 15:14] PRemmen opened #620 "[development] use conditions profile should accept single values"
## What is the problem?

- e. g. if I want to specify profiles with a single value (e. g. set temperature = 293.15 K) I always have to pass over a list

## Why do we want to solve it?

- this is annoying (especially for automatic manipulation of paramters)

## How do we want to solve it?

- just add a little check in the setter like:

[code]

[2020-01-08 11:11] marcusfuchs opened #622 "Update AixLib version in development"
In https://github.com/RWTH-EBC/TEASER/blob/development/teaser/logic/buildingobjects/calculation/aixlib.py , the version of AixLib is set to v0.8.0 . Yet, the current development branch of AixLib is at v0.8.1 . Can we update this?

[2020-01-08 13:05] PMehrfeld commented on #590
@MichaMans: If the merges solved the issue, this one can be closed.

[2020-01-09 12:57] #622 closed

[2020-01-09 13:00] PRemmen commented on #617
@marcusfuchs just called me, it seems that although the variable "use_conditions._with_ideal_thresholds" is the to False, in the exported models it will always simulate with a certain threshold. This leads to much smaller cooling load then before and in addition to very high peak loads @DaJansenGit can you have a look at it? probably the error is in AixLib (e. g. variables are not passed to ideal

[2020-01-09 13:05] marcusfuchs commented on #617
@PRemmen Thanks for documenting this! From what I understand, it seems like the `multizone.zone[1].heaterCoolerController` model shuts off the heater and cooler even though `with_ideal_thresholds` is set to False. This caused our automated tests to fail, because the simulated demands for our test suite of buildings differ greatly from the reference values.

[2020-01-09 13:30] PRemmen commented on #588
probably related to #617 and #618

[2020-01-09 13:56] PRemmen commented on #604
https://github.com/RWTH-EBC/TEASER/commit/4e9b297601bd0c3e0a00d9051aa31b05ff0a03e2

[2020-01-09 16:40] DaJansenGit commented on #617
this was an AixLib problem and not a TEASER problem. We solved it and the fix will be implemented with https://github.com/RWTH-EBC/AixLib/pull/847

[2020-01-15 15:12] DaJansenGit commented on #567
closed by 5bf2fd2

[2020-01-15 15:12] #567 closed

[2020-01-15 15:29] marcusfuchs commented on #617
@DaJansenGit Thanks for all the work over the last days! With the merge of RWTH-EBC/AixLib#847 and #594, is this finished from your side? I noticed that after these merges, the versions of the development branches again do not match (see #622) - AixLib development is at v0.8.3 but models generated by TEASER development include a `uses` statement for v0.8.1 . If your work is finished, I could again

[2020-01-15 17:15] DaJansenGit commented on #617
you are right, this will be solved with #626

[2020-01-15 17:15] #617 closed

[2020-01-16 14:54] #602 closed

[2020-01-16 14:54] #599 closed

[2020-01-16 14:54] #592 closed

[2020-01-16 14:54] #590 closed

[2020-01-16 14:54] #588 closed

[2020-01-16 14:54] #585 closed

[2020-01-16 14:54] #583 closed

[2020-01-16 14:54] #582 closed

[2020-01-16 14:54] #581 closed

[2020-01-16 14:54] #580 closed

[2020-01-16 14:54] #578 closed

[2020-01-16 14:54] #571 closed

[2020-01-16 14:54] #559 closed

[2020-01-16 14:54] #553 closed

[2020-01-16 14:54] #539 closed

[2020-01-16 14:54] #533 closed

[2020-01-16 14:54] #510 closed

[2020-01-16 14:55] #508 closed

[2020-01-16 14:55] #487 closed

[2020-01-16 14:55] #438 closed

[2020-01-16 14:55] #620 closed

[2020-01-16 14:55] #614 closed

[2020-01-16 15:12] PRemmen opened #627 "Update version number in teaser.logic.calculation"
## What is the problem?

- A quite stupid mistake :( with the latest release we haven't updated the AixLib version numbers, which will result in non functional Modelica models

## Why do we want to solve it?

- to run modelica simulation

## How do we want to solve it?

- increase version number and also increase version number of TEASER 0.9.1.

[2020-01-16 15:50] #604 closed

[2020-01-16 15:51] PRemmen commented on #498
as gml is no longer supported I'll close this issue

[2020-01-16 15:51] #498 closed

[2020-01-16 15:51] PRemmen commented on #499
as we no longer support gml, close it

[2020-01-16 15:51] #499 closed

[2020-01-20 10:31] DaJansenGit opened #630 "Specify height for thermalzones"
At the moment the height of a thermalzone can only be specified by the building parameter `height_of_floors` which specifies the `Average height of the floors (default: None)`.
For the creation of more detailed multizone models it would be useful the have the option to specify the height of a zone independent from the building paramter.
If this new thermalzone param `height` exists it will be used

[2020-01-21 08:34] DaJansenGit commented on #627
With https://github.com/RWTH-EBC/AixLib/pull/856 we needed to raise the AixLib version to v0.9.1 thus we need to raise it in TEASER as well.

[2020-01-27 07:29] MichaMans opened #635 "BuildingElements area and orientation setter not working with no parent set"
Currently, the BuildingElements ```area``` and ```orientation``` setter checks if the parent of the parent is set. Which leads to the problem, that the BuildingElement class can not be used Standalone. This needs to be revised.

[2020-01-27 07:42] MichaMans commented on #635
@PRemmen Do we need to classify this as a bug?

[2020-02-06 15:47] MartinRaetz opened #637 "GroundFloor without OuterWalls or RoofTop"
## What is the problem?

Modeling a room with groundfloor and without outer walls or rooftop occurs an error in computing the twoelement.py (I guess the same will occur for the 3 elements as well).

All other combinations work

## Why do we want to solve it?

If creating rooms and zones automatically such zones may occur and should be possible to model.

## How do we want to solve it?

First optio

[2020-02-06 16:54] MartinRaetz commented on #612
To be renamed and documented:

- [ ] use_moisture_balance to use_moisture_co2_balance

Necessary parameter in the AixLib export datasheets:
- [ ] activityDegree

[2020-02-07 07:30] mlauster commented on #637
For the models, the ROM avoids in all versions (one to four elements model) adding non existent elements such as interior walls. This is done by checking the elements area size. If it is zero, no respective element will be initialized. So you simply need to handle this in Teaser with if- statements and make sure, the area is set to zero. For quality reasons, it would be nice to have all other resp

[2020-02-08 09:33] MartinRaetz commented on #637
Thank you for these information!

Regarding the calculation within the ROM, I do think the error occurs only with the two element thermal zone. In this particular case the area of outer walls is not zero due adding the ground floor to the outer walls element. For the calculation of the outer wall element the convective and radiative heat coefficient is needed, which is not provided by the ground f

[2020-02-25 13:35] #627 closed

[2020-03-27 09:09] KremerMartin opened #638 "Archetype Residential building "SingleFamilyDwelling" fails for 2016 and younger"
## What is the problem?

- If the year of construction in the SingleFamilyDwelling archetype in example "e1_generate_archetype" is changed to 2016 or younger, the export to AixLib-models fails.

## How do we want to solve it?

- Maybe some data needs to be added for the youngest construction years.

Screenshot of the error-message:
![grafik](https://user-images.githubusercontent.com/48821826/77740

[2020-04-03 15:47] PGorzalka opened #639 "inner IR emissivity calculation"
Hi guys,

I stumbled across weird IR emissivity values, so I thought I'd take the opportunity to create my first GitHub issue. As I usually don't work with GitHub, I don't really now the usual workflow. Hope this is the right thing to do :)

## What is the problem?

- Inner IR emissivity values become very high (>> 1)
- equations in [TEASER/teaser/logic/buildingobjects/calculation](TEASER/teaser/l

[2020-04-15 07:06] MartinRaetz opened #640 "Typos and improvement of example file (Excel-Import)"
https://github.com/RWTH-EBC/TEASER/tree/issue640_typos_and_more

## What is the problem?
-Excel import is complicated and could be formulated more generally

-Air has typo at density = 1000x higher
Actual density = 1000

-more typos

## Why do we want to solve it?

- make it right

## How do we want to solve it?

-apply some (not all) improvements to the example file for the excel import

- change

[2020-04-15 11:27] MartinRaetz opened #641 "Newly material leads to infinite values while calculations"
## What is the problem?

Calculations in wall.py run into infinite numbers.

Upon creating a new material, the combination of density, heat capacity, thermal conduction and thickness ist multiplied to a number for which the cosh(x) will be infinite.
At least, python cannot handle such a high number.

Material making problems:
    "2450d810-3a43-11e7-acc4-2cd444b2e704": {
        "name": "Holz Fich

[2020-04-15 13:11] MartinRaetz commented on #641
**It was all my fault!**
I have used mm instead of meter for the thickness of the material.

But after checking through all calculations, I can confirm that the currently implemented calculations are in good order and correct.
No changes are necessary, I will close this issue.

[2020-04-15 13:11] #641 closed

[2020-04-15 18:31] MartinRaetz commented on #640
two_element.py

self.cool_load = -self.heat_load

cool_load is never calculated and automatically set to 0 so that the cooler never works even if present. I suggest to set cool_load to a very high number or at least the same as the heat_load?
(has to be done for all elements.py)

[2020-04-15 18:36] MartinRaetz commented on #640
ratio_conv_rad_persons: float
        describes the ratio between convective and radiative heat transfer
        of the persons. Default values are derived from
        :cite:`VereinDeutscherIngenieure.2015c`.
        AixLib: Used in Zone record for internal gains
        Annex: Used for internal gains

Calculation: convective/radiative or the other way around?

- [ ] Info added to code

[2020-04-17 08:43] PRemmen commented on #639
HI @PGorzalka,

sorry for late answer, I am afraid I overlooked this issue. You seem to be right, thanks for the catch! The equations are not directly needed for export, however they should be considered in the lumped RC-Values for 3, and 4 Element models (I almost never use them so I cannot tell how big the impact is).

If you would like to contribute to TEASER it would be nice if you could fix t

[2020-04-17 08:46] PRemmen commented on #638
@martinkremer I think TABULA just classifies the newest construciton period as [2016,...] so probably no new data is needed but just a new definition of the latest construction period, can I assign you as responsible? :)

[2020-04-17 08:49] PRemmen commented on #543
@MartinRaetz I actually solved this issue :) see https://github.com/RWTH-EBC/TEASER/pull/634

[2020-04-17 19:22] PRemmen opened #643 "Typo in setter of max_relative_humidity_profile"
# What is the problem?

- in the ahu the setter of max_relative_humidity_profile actually sets min_relative_humidity_profile

## Why do we want to solve it?

- to set min and max bounds for humidity

## How do we want to solve it?

- correct typo

[2020-04-20 11:44] MartinRaetz opened #645 "withProfile - AHU flow not controllable via Teaser"
## What is the problem?

At the moment the default of withProfile (in Modelica) is false so that the AHU is always controlled by the ahu profile and never by the occupancy. Both are propagated via Teaser.

Please also see the discussion in the review of #642.

Model in AixLib:
https://github.com/RWTH-EBC/AixLib/blob/83afc7cf944f1eea7fdc82cffe5b27f193bc43ae/AixLib/ThermalZones/ReducedOrder/Multizon

[2020-04-20 12:04] #643 closed

[2020-04-22 11:41] #640 closed

[2020-04-22 16:02] PGorzalka commented on #639
Hi @PRemmen,

no worries, I already assumed so :) I'll fix this as soon as I have time, probably within the next 2 weeks.

[2020-05-26 14:14] #639 closed

[2020-05-29 11:51] marcusfuchs opened #653 "Default shading significantly changes model results"
When we simulate our reference buildings with the most recent TEASER development version and AixLib development version, the results are significantly different. It seems like the heat demand is increased by roughly a factor of 2 while the cooling demand is significantly reduced. This seems to be caused by the fact that with the same settings, the solar radiation (`ROM.solRad`) is reduced to 0 for

[2020-05-29 13:59] marcusfuchs commented on #653
I am still not familiar enough with this part of TEASER, but this seems to be related to the fact that all Tabula settings include these data:

[code]

When setting  `"shading_g_total": 1.0,` I can reproduce our old results.

[2020-06-02 15:15] MartinRaetz commented on #653
Hello @marcusfuchs,
and thank you for checking this out.

A g-value of 1.0 represents full transmittance of all solar radiation while 0.0 represents a window with no solar energy transmittance. Hence, the g-value of the shading should be 1 for "no shading" and 0 for  "full shading". The previous implementation in the AixLib did a double (1-g_value) conversion. We made this more straight forward wi

[2020-06-02 15:17] #543 closed

[2020-06-02 15:22] PRemmen commented on #653
@MartinRaetz Yes, that would be a good idea. I think shading default value should always be 1.0 (i. e. no shading)

[2020-06-02 15:27] MartinRaetz commented on #653
@marcusfuchs would you volunteer to change the respective parameters?

[2020-06-02 19:27] marcusfuchs commented on #653
Thanks for the answers and the explanation of the changes.

Regarding the default values, I would consider it an improvement to change this. In my opinion the current defaults are not good choices because closed blinds for the entire year are not what I think users would expect as default.

Regarding the changes in the shading, it seems like you use 2 different approaches to naming. Teaser interna

[2020-06-04 16:34] MartinRaetz opened #655 "Weatherdata "real" export (not link)"
## What is the problem?

- Teaser does not export weather data, it only links the repo where the weather data is stored at the pc of the Teaser instance.

## Why do we want to solve it?

- If Teaser exports also the weather data, the exported model could be easily distributed among different pc´s.

## How do we want to solve it?

- Export the weather file just like the other data (useconditions, e

[2020-06-05 13:34] marcusfuchs commented on #655
@MartinRaetz This may be a duplicate of #566? Unfortunately I had no time to work on that, but I would of course welcome any change in this direction.

[2020-06-08 07:28] MartinRaetz commented on #655
@marcusfuchs thank you for notifying! You are right, I will close this duplicate.

[2020-06-08 07:28] #655 closed

[2020-06-08 07:33] MartinRaetz commented on #566
I would like to pick up this topic.

Is there any information about the reason, why the last implementation did not work?

Was the shipped file faulty? Was the implementation faulty?

[2020-06-10 06:50] marcusfuchs commented on #566
Sorry, I have no further information after my last post above.

[2020-07-29 12:02] MartinRaetz commented on #653
I think this issue is solved, feel free to reopen it if that is not the case.

[2020-07-29 12:02] #653 closed

[2020-09-24 11:19] PRemmen opened #657 "Allow footprints to generate archetype buildings"
## What is the problem?

- In one of the last releases we stopped support of CityGML due maintenance reasons,
- so currently no detailed geometry can be implemented in TEASER

## Why do we want to solve it?

- However in projects we often see that footprints of buildings are available (e.g. masterplan)

## How do we want to solve it?

- I'll try a light-weighted approach as also described in https

[2020-10-13 10:44] KremerMartin opened #659 "Add Use-Condition Classroom"
#  What is the problem?

- I found out, that the use condition for classrooms is missing.

## Why do we want to solve it?

- I had to do some simulations for a classroom. So I thought this might be interesting for someone else to.

## How do we want to solve it?

- I will add the typical data from SIA 2024 and DIN 18599 to the UseConditions.json

[2020-11-03 15:18] KremerMartin commented on #659
closed by PR #660

[2020-11-03 15:18] #659 closed

[2020-11-19 19:07] marcusfuchs opened #662 "Bug in Tabula building area calcuation"
By default the  `SingleFamilyHouse` classes in `teaser/logic/archetypebuildings/tabula/de/singlefamilyhouse.py` and `teaser/logic/archetypebuildings/tabula/dk/singlefamilyhouse.py` contain 1 single zone. For a special use case, we want to add a second zone to this archetype. This exposed a bug in the area calculations performed in `generate_archetype()`. All areas are calculated similar to:

[code

[2020-11-24 17:20] #612 closed

[2020-11-24 20:57] marcusfuchs opened #665 "Common base class for NonResidential and Residential archetypes?"
From looking at `teaser/logic/archetypebuildings/nonresidential.py` and `teaser/logic/archetypebuildings/residential.py` it seems like these two base class definitions for non-residential and residential buildings do not have any functional differences. As there seems to not have been any case where a distinction is necessary since these files were created in 2015, I wanted to suggest to replace t

[2020-12-03 11:14] MartinRaetz commented on #566
solved in: https://github.com/RWTH-EBC/TEASER/pull/664

[2020-12-03 11:14] #566 closed

[2020-12-03 19:55] marcusfuchs commented on #665
As there were no objections, I implemented this, will create a PR.

[2020-12-04 13:48] marcusfuchs opened #669 "Enable regression testing of TEASER output with BuildingsPy"
For quality control, I think it would be really useful if we could easily run all models generated from a TEASER project as regression tests. With BuildingsPy this can be achieved fairly easy. As TEASER outputs a Modelica package, all that is need for this is to add the following things to the output:

- Add a script e.g. `/Resources/Scripts/runUnitTests.py` similar to https://github.com/RWTH-EBC/

[2020-12-04 14:01] MichaMans commented on #669
@marcusfuchs I like this addition! I may check an automated testing in the CI afterwards. 👍

[2020-12-04 14:04] marcusfuchs commented on #669
@MichaMans Yes, I think this would be perfect. We already have implemented something similar as would be needed for TEASER, so once I get around to work on this I think the effort required will not be too large. For automated testing in your CI afterwards, I also think that https://github.com/lbl-srg/BuildingsPy/issues/393 will be helpful so you do not have to copy the reference results into the o

[2020-12-11 15:27] marcusfuchs opened #671 "Definition of orientations correct?"
In the TEASER code, orientations are usually defined like this, e.g. in `teaser/logic/buildingobjects/buildingphysics/buildingelement.py`:

[code]

In contrast, both the Modelica IBPSA library in https://github.com/ibpsa/modelica-ibpsa/blob/master/IBPSA/Types/Azimuth/package.mo and AixLib in https://github.com/RWTH-EBC/AixLib/blob/development/AixLib/Types/Azimuth/package.mo define orientations as:

[2020-12-11 15:53] MartinRaetz commented on #671
@marcusfuchs I did not inspect the respective code pieces. But I can see from my simulation results, that Teaser should do some conversion. But I cannot clarify, whether it does everything correct.

Simplyfied: We can see the demand of the ideal cooler for different orientations in Teaser.
It looks like there is a shift of 90°, but it might also be due to the thermal inertia of the room.

![HUS_on

[2020-12-11 16:00] marcusfuchs commented on #671
@MartinRaetz Thanks for the quick response. This looks interesting. Maybe some tests are necessary to further verify this. Your plot also seems to confirm that the orientation does have a significant effect on the results, so it would be good IMO to get this right.

[2020-12-11 16:10] MartinRaetz commented on #671
I have done another (Azimuth) check:
TEASER Input: 90 -> east
TEASER Output: -1.57 -> east

So I think everything is correct.

[2020-12-11 19:29] marcusfuchs commented on #671
Great, thanks for taking the time to check this. I am not sure about how important it is to support legacy code in this regard, but to make TEASER more user friendly and reliable, it may be interesting to discuss whether also the TEASER input could be adjusted to use the same conventions as the output and the Modelica models. And yes, when I find out more, I'll share my findings.

[2020-12-14 10:00] MichaMans commented on #671
So I think the conversion is done right by the mako templates. There is the azimut conversion done. Regarding the more user friendly approach etc.: In my opinion it is more common to use the 0 north 180 south approach as this is (at least for me) more intuitive in terms of orientations (as it is the same on a compass etc). For me the Modelica approach didn't made any sense so far, but there I am o

[2020-12-14 19:59] marcusfuchs commented on #671
@MichaMans From what I could gather, different fields seem to default to different reference azimuths at north or south with a general trend towards the north azimuth but still south azimuths seem still common for solar calculations. For me personally, I have no strong preference. I think that a north azimuth may be slightly better than a south azimuth definition. But using both with a conversion

[2020-12-15 14:35] marcusfuchs commented on #671
@MichaMans @MartinRaetz I have looked further into the conversion. Thanks  @MichaMans for pointing me to the actual conversion which is done in the template. From my few tests, the conversion seems to work *if* the orientations are given in positive values. When I pass e.g.

[code]

I end up with only 2 wall orientations in my record:

[code]

Changing the input to

[code]

seems to work correctly

[2020-12-15 14:53] MartinRaetz commented on #671
I share the opinion of @MichaMans.

But as you mentioned @marcusfuchs, catching those exceptions and transferring the calculation to python sounds very reasonable to me.

[2020-12-15 17:05] MichaMans commented on #671
@marcusfuchs For me the example is not that clear. As the documentation points out to use the given definition of orientation as you already pointed out in the first comment. I get the opinion of not having any conversion about that, but in the end it is a personal view of the user. If I think of a more planning oriented and not Modelica oriented user, I am feeling more the defintion of orienation

[2020-12-15 20:45] marcusfuchs commented on #671
@MichaMans I think your point of considering different user backgrounds is very helpful. I assumed that all users of TEASER want to go from data input through model export and simulation to the analysis of the simulation results. And with the current definitions and conversion, I am thrown off by the following discrepancy: users put in data in the north azimuth conversion and when they analyze the

[2020-12-17 11:05] PRemmen commented on #671
I do think there are more than one definition of orientation, so I think both are "correct".

I get both of your points, on the one hand I also feel that north azimuth feels a bit more intuitive (just my personal opinion - which is probably why this is the TEASER definition ;-) ). However, @marcusfuchs  is right in stating that the south azimuth is more used in the field of building simulation (pr

[2020-12-17 11:54] marcusfuchs commented on #671
@PRemmen Thanks for weighing in. Regarding the non-backwards compatibility: I wonder if this would really break that many applications. From my understanding, the residential archetypes assume a square footprint and the office archetype has a straight north-south orientation with the same window areas on all sides, so unless there are many applications that are already using the actual geometry of

[2020-12-18 09:28] PRemmen commented on #671
Regarding backwards compatibility, there are quite a number of projects at EBC (at least four of which I know) that offer the possibility to change the geometry, in addition most of our known external users use this option, not directly by using the exact geometry but changing the orientation and geometry in the code.

I think your first suggestion (maybe with combination of a warning (3rd bullet)

[2020-12-21 08:38] MartinRaetz commented on #671
This change would also break my codes, as I initiate "zones" from a building plan converted to an excel file to model huge buildings like hospitals. To me, the current azimuth convention obviously feels like the most convenient.

In my opinion, it would not be worth the pain as we would introduce a feature that will discomfort some and comfort others. If the developer team makes the strategic deci

[2020-12-30 09:31] marcusfuchs commented on #669
@MichaMans Starting to use this I noticed one error: I forgot to add the `modelica_test_script` template to `setup.py`, so when installing TEASER from GitHub with `pip install --upgrade git+https://github.com/RWTH-EBC/TEASER@development` the file is missing. I'll create a PR to fix this.

[2021-01-04 08:48] marcusfuchs commented on #669
@MichaMans Thanks again, this is all working as intended, so I am closing this.

[2021-01-04 08:48] #669 closed

[2021-01-04 09:42] marcusfuchs opened #675 "Number of decimals in records"
Currently, TEASER outputs records with a very high number of decimals, e.g.

[code]

We see that depending on different platforms (Linux, Windows), some of these values can change in very minor decimals. Is there any objection to limiting the number of decimals to a meaningful limit to avoid this and also to make the records easier to read? I would expect that we cannot meaningfully calculate e.g.

[2021-01-08 15:16] ChristianTWenzel opened #676 "Reduced Order Model: TABS Integration"
This Issue relates to [#1064](https://github.com/RWTH-EBC/AixLib/issues/1064) in AixLib.

**What is the problem?**

- The Reduced Order Model in AixLib currently only supports a simple heater and/or cooler with a PI-controller. Other systems like panel heating and cooling or thermal activation of building structures (TABS) are not yet implemented.

**Why do we want to solve it?**

- The goal is to

[2021-01-25 13:34] KremerMartin commented on #297
Thank you everyone for the great work so far. We are trying to use the new vdi-core to calculate the heating and cooling loads in a building prior to our calculation of AHULife.
We have fixed the hard coded timesteps to use the same timesteps in the calculation as in the weather data. What we implemented was the example_vdi_core in the branch issue297_vdi_mfu (residential building with 200 m² nett

[2021-01-25 16:27] marcusfuchs commented on #297
@martinkremer Great to see that you are picking this up again. If I remember correctly, we were still some steps away from being able to actually simulate a given building with this implementation. Could you share your recent progress and the example that produced the plot above? Without running the code, I think it would be hard for me to make any helpful guesses.

[2021-01-25 16:46] KremerMartin commented on #297
@marcusfuchs Thanks for your quick reply. :) I have asked my student to exchange his code with me. Then I can commit (and push) the code to GitHub.

[2021-02-01 08:18] KremerMartin commented on #297
@marcusfuchs I pushed the changes, we implemented so far, on your branch [issue297_vdi_mfu](https://github.com/RWTH-EBC/TEASER/tree/issue297_vdi_mfu). If you want to replicate the results of the plot above, you just have to run the newly added example.

[2021-02-01 08:42] larissakuehn opened #677 "Additional archetype for swimming halls"
As part of our project “Energieeffizienz in Schwimmbädern – Neubau und Bestand“, we would like to expand TEASER by a new building architype for swimming halls.

## What is the problem?
The existing architypes in TEASER are not suitable for swimming halls as swimming halls differ greatly in terms of usage conditions, materials and structures. In addition, for predicting the swimming hall’s water an

[2021-02-04 10:08] MartinRaetz commented on #645
For the sake of a lean repo, I will close this issue due to minor importance. An occupancy-based control is a rather rare case.

[2021-02-04 10:09] #645 closed

[2021-02-04 17:48] MartinRaetz commented on #637
While trying to fix this I realized that the current implementation does not account for the heat transfer coefficients to the outside of the ground floor. Error occurs with 1 and 2 number_elements_calc.

E. g. if I calculate a zone that has 10.000 m² ground floor but only 1 m² outer wall, the current calculation would assume that the convective and radiative heat transfer, as well as the solar ab

[2021-02-25 09:23] PGorzalka commented on #474
How about this approach? Given that it is quite straightforward, I wonder if there is any reason it was not used before:
1. calculate number of rooms (as before)
2. **total** wall area `                wall_area = (avg_room_nr
                             * (2 * self.use_conditions.typical_length
                                * height_of_floors
                                + 2 * self.use_cond

[2021-02-25 09:24] PGorzalka commented on #630
Hi @DaJansenGit , did you already integrate it? It would be part of my suggestion regarding issue #474

[2021-02-25 10:04] PGorzalka opened #679 "Custom template paths for Modelica output"
## What is the problem?

- The current implementation restricts templates to files located in pre-defined paths within TEASER's folder structure

## Why do we want to solve it?

- For custom applications, it would be nice to switch between different Multizone and ThermalZone templates

## How do we want to solve it?

- Add an optional parameter to the export_aixlib function that specifies a path t

[2021-02-25 10:38] PGorzalka opened #680 "Default inner convection coefficients"
## What is the problem?

- According to ISO 6946, convective surface coefficients are 5.0 m²K/W for upward heat flow, 2.5 for horizontal and 0.7 for downward. In TEASER, `inner_convection` values default to
  - 2.7 for walls: reasonable because close to horizontal
  - 1.7 for ground floors: somewhat reasonable if basement exterior walls are considered ground floors (which is afaik not the case in

[2021-02-26 11:50] mlauster commented on #680
We defined the upward and downward coefficients similar, because we can't determine if the heat flow is upwards or downwards. This depends on the temperature of the adjacent environment, e.g. ambient or another thermal zone. So a roof can have a downwards oriented heat flow, if the room above is heated to a higher temperature. Anyway, we never found a good solution to handle this, looking forward

[2021-02-26 15:21] PGorzalka commented on #680
That definitely does makes sense. However, if one assumes the archetypes e.g. of TABULA are defined for "winter conditions", the simulation results are not consistent with them regarding "summer conditions" in the current implementation anyway, right? If that is the case, I would say changing the "inner convection" attributes of the archetype coefficients to 0.7/2.5/5.0 and adjust the layers would

[2021-03-09 15:51] marcusfuchs commented on #675
@MichaMans We are again experiencing some problems related to this issue. As there was a long silence, I think there are no objections and we could implement a fix?

[2021-03-23 10:56] ChristianTWenzel opened #681 "Bug in teaser/data/output/modelicatemplate/AixLib"
## What is the problem?
Computing parameters for test rooms in `teaser/examples/verification` leads to output of 0 for area of transparent surfaces although window areas are defined in the corresponding .json.

## How do we want to solve it?
Change line13 in `teaser/data/output/modelicatemplate/AixLib/AixLib_ThermalZoneRecord_TwoElement` from

ATransparent = ${get_list(zone.model_attr.**window**_a

[2021-03-30 13:43] Dawac opened #682 "25h AHU default profiles instead of 24h"
What is the problem?

- I encountered weird results for the heating and cooling behaviour in buildings with AHU.
- The heating and cooling seemed to be shifted 1h each day.
- We found out, that default profiles for the AHU within _teaser/logic/buildingobjects/buildingsystems/buildingahu.py_ contain 25 values instead of 24. The way the profile is generated, the values are repeated until the list co

[2021-04-08 12:08] DaJansenGit opened #683 "Model Report"
## What is the problem?

- Currently when creating buildings with TEASER we have no report that gives us combined information about what the model holds. Information that might be usefull to verify that everything is correct could be:
- Net floor area of building
- Area of outerwalls (orientation wise)
- Area of windows (orientation wise)
- Area of Innerwalls
- Number of Thermalzones
- ...

## Why

[2021-04-08 12:18] DaJansenGit opened #684 "automatic simulation including report"
## What is the problem?

Currently everyone needs to write its own analysis script for really similar tasks, like:
- visualizing heat and cooling demands
- measuring yearly demands
- calculating thermal comfort/discomfort
- ...

## Why do we want to solve it?
Lower the barrier and reduce redundant work.

## How do we want to solve it?
- Giving an option (not default behaviour) to automatic run the

[2021-04-08 18:09] mlauster commented on #684
Me and Stanley worked on this three years ago, the Repo is likely somewhere in EBC's github group or on gitlab, I can't remember the name. We included a lot of statistical functions like ACF diagram etc. Might be worth checking that in this context

[2021-04-19 10:19] DaJansenGit commented on #684
Thanks @mlauster! I will have a look for it!

[2021-04-19 10:24] DaJansenGit opened #686 "export function prevents folder deletion"
## What is the problem?
**Changed working directory:**
Calling the export function prevents to delete the export folder because the utilities.create_path() function changes the current working directory.
This leads to problem on windows (maybe also on linux, which I didn't test), when the project folder should be deleted by hand or program after running an export without changing the python workin

[2021-04-29 13:59] ImaaneKho commented on #535
In the UseConditions attribute persons it seems possible to either enter a number or a dict e.g {"/": [1,14]}. The documentation doesn't specify what it means.

[2021-05-06 12:52] #682 closed

[2021-06-09 08:11] MartinRaetz opened #688 "Dev to Master (due to AixLib update)"
## What is the problem?

- The AixLib Master is updated with the development. Current Teaser master is not anymore compatible with AixLib master.

## Why do we want to solve it?

- Restore compatibility

## How do we want to solve it?

- Merge Teaser development into Master

[2021-06-09 08:19] MartinRaetz commented on #459
Another enhancement regarding unit tests, could be unit tests including the use of the current AixLib version.
Master -> Master
Dev -> Dev

[2021-06-09 08:36] MartinRaetz commented on #688
Manually tested files:

- [ ] verification_ASHRAE_140_600.py
- [ ] verification_ASHRAE_140_620.py
- [ ] verification_ASHRAE_140_900.py
- [ ] verification_ASHRAE_140_920.py
- [ ] e2_export_aixlib_models.py
- [ ] e6_generate_building.py (including AixLib export)
- [ ] e9_building_data_import_from_excel.py

[2021-07-02 11:35] D-Cordoba opened #690 "Underfloor heating integration in ROM"
Given a Model that has underfloor heating as heating system, we want to integrate it, and get a ROM, in order to in the future make hidraulic, thermal dynamic simulations, in buildings that have underfloor heating as heating system.

- [ ] ROM 2 Elements: with all parts as external or internal walls
- [ ] ROM 2 Elements + HOM for Wall that acts as underfloor heating

[2021-07-02 11:44] PRemmen commented on #690
@D-Cordoba

probably highly related to #676 + I would like to carefully warn that extracting a wall from the VDI calculation would require a lot of extensive modification to TEASER (or an individual calculation of the ROM parameters).

[2021-07-14 09:53] D-Cordoba opened #691 "outer walls calculation fails for two_elements export"
For a given thermal zone with no outerwalls for example:
- 4 internal walls
- 1 Floor
- 1 Rooftop

The roof will be recognized as outerwall in two_element.py line 852:
![grafik](https://user-images.githubusercontent.com/52407050/125601455-b422bf77-d0a5-4ebc-b911-80cab701849a.png)
But in the simulation this thermal zone will have problems because `r_Rest_ow <= 0` in  two_element.py line 878:
![graf

[2021-07-14 12:07] DaJansenGit commented on #691
Looks indeed as a bug IMHO. Maybe can one of the hands (@PRemmen or @MichaMans) give some feedback if this is puprose and we overlook something?

[2021-07-14 12:20] PRemmen commented on #691
@DaJansenGit @D-Cordoba looks like a good catch. Probably this is also a bug on the other modules. 👍

In general as already said in #690 you really need to be careful with TEASER and ROM when defining "unusual" buildings (like one without any outerwalls).

[2021-07-15 07:15] DaJansenGit commented on #691
@PRemmen Thank you for the quick response :)

In general this shouldn't occur because we will integrate a method to lump zones without any exterior elements to adjacent zones which have exterior elements.
Anyway we will investigate the influence of zones without any exterior elements.

[2021-07-19 13:32] MichaMans commented on #688
@MartinRaetz
As far as I can see is this merge done, right? Unfortunately the auto deployment to pypi seems to be not existing anymore (as we are not using travis anymore?) We should change that and introduce a new github action for this deployment. Do you agree?

[2021-07-23 09:48] MartinRaetz commented on #688
Thank you for noticing!
I agree with you!

[2021-07-23 13:09] #635 closed

[2021-08-09 13:58] KaipengXu96 opened #693 "Does it essential to purchase DYMOLA for using TEASER?"
I’m a PhD student and I’m trying to use TEASER to generate some building models and used these models to test some control systems.

I wonder if it is essential to purchase DYMOLA to achieve above objectives, since DYMOLA always report errors when I trying to translate the models in “TEASER output” file, I suspect this is because of i'm using a free trial version of DYMOLA.

[2021-08-10 06:16] MichaMans commented on #693
@KaipengXu96 If Dymola does not translate because the models or the system is too complex, then you need to purchase a license. Another possibility is to check how the compatibility of the used models is regarding the use of OpenModelica (At the moment the models are not supported I guess, but this needs to be clarified).
For further more general questions, feel free to contact via mail: ebc-tease

[2021-08-10 06:16] #693 closed

[2021-09-27 13:14] DaJansenGit commented on #686
closed by #687

[2021-09-27 13:14] #686 closed

[2021-10-21 11:28] DaJansenGit opened #694 "include simulatino post processing"
This issue is a first step to solve #684 by integrating the multizone post processing block from https://github.com/RWTH-EBC/AixLib/issues/1101 into the export of TEASER.

[2021-11-08 13:58] MartinRaetz opened #701 "Documentation"
## What is the problem?

- Documentation seems to be out of date
- [http://rwth-ebc.github.io/TEASER/index.html](http://rwth-ebc.github.io/TEASER/index.html) is for Version 0.6.0

## Why do we want to solve it?

- A good documentation does help new users.

## How do we want to solve it?

- Agree on a way how to document
- Update [http://rwth-ebc.github.io/TEASER/index.html](http://rwth-ebc.github.

[2021-11-08 16:50] DaJansenGit commented on #701
Hey, thanks for opening the issue :) I totally agree that we need to update our documentation. As the TEASER documentation is build via Sphinx and we already have a CI template to integrate the sphinx doc building via CI we should use it here.

Link (only internal): https://git-ce.rwth-aachen.de/ebc/ebc-general/templates/gitlab-ci/-/tree/master/python/doc

[2021-11-11 09:41] MartinRaetz opened #703 "merge_windows not compatible with AixLib but is used in validation examples"
## What is the problem?
merge_windows not compatible with AixLib but is used in validation examples

![grafik](https://user-images.githubusercontent.com/28930877/141270181-d4495118-3940-4bcb-b07c-b37ec9698971.png)

![grafik](https://user-images.githubusercontent.com/28930877/141270253-d144e412-23be-4348-befd-6fb146b30f44.png)

## Why do we want to solve it?

- possibly wrong calculations.

[2021-11-11 10:08] #688 closed

[2021-11-11 10:16] MartinRaetz commented on #691
Just to keep things together, I want to add that https://github.com/RWTH-EBC/TEASER/issues/637 is related to that topic.

[2021-11-11 10:23] MartinRaetz commented on #637
- [ ] Close https://github.com/RWTH-EBC/TEASER/issues/691 if this issue is solved.

[2021-11-11 10:27] MartinRaetz commented on #703
I am sorry for not having any experience with the verification cases.
Working on another issue I just stumbled on this inconstancy.

@MichaMans, @PRemmen do you think this is a bug, or may I close this issue?

[2021-12-01 11:12] MartinRaetz opened #704 "hard coded longitude leads to faulty AixLib models"
## What is the problem?

AixLib is using the latitude from zone.params to calculate the angle of the sun. This latitude is hard coded in Teaser for the location of Aachen.

## Why do we want to solve it?

Models will have wrong results.

## How do we want to solve it?

AixLib should pull latitude from the weather file.

Delete all unnecessary data points in Teaser:

- [ ] latitude -> (required for

[2022-01-05 08:47] DaJansenGit opened #705 "non unique thermalzone names lead to false internal gains schedules"
## What is the problem?

- currently the setter function for `thermalzone.name` doesn't check if the name is unique (same name for other zone) ([code](https://github.com/RWTH-EBC/TEASER/blob/master/teaser/logic/buildingobjects/thermalzone.py#L478-L487))
- the pandas df which is used to generate the `InternalGains_*.txt` file uses the thermalzone names for column naming
- as pandas df by default on

[2022-01-07 07:29] #705 closed

[2022-01-07 07:39] DaJansenGit opened #707 "dynamic heat load calc in modelica"
## What is the problem?

- Currently the heat load is calculated in TEASER but the needed variables are not passed into Modelica.

## Why do we want to solve it?
- As the heat load is a suitable value for system design and for parametric studies it can be useful to vary e.g. the nominal inside or outside temperature (other location of building) it would be useful to allow recalculation of the heat

[2022-01-07 14:00] DaJansenGit opened #708 "Improve documentation for area of OuterWall"
## What is the problem?

- The definition of `OuterWall.area` is currently not 100 % clear and one might get confused as VDI 6007 states:

- As VDI 6007 uses no extra resistance for windows but TEASER does, we use net areas. This should be documented.

## Why do we want to solve it?

- Prevent confusion

## How do we want to solve it?

- Add some additional lines to `OuterWall.area` and `Project.m

[2022-04-14 09:33] Dawac opened #711 "Typo in the heating profile example (e8)"
The example doesn't work. The heating profile does not change because the parameter has a typo "*.heating_profile_profile" instead of "*.heating_profile".

[2022-05-20 18:37] vtnate commented on #675
I would appreciate this fix as well. Have you made any progress on this @marcusfuchs? How many decimals are meaningful to you? I think a limit of 3 would be plenty for my purposes, and expect I'll be happy with any improvement over the current behavior.

[2022-05-23 11:44] marcusfuchs commented on #675
@vtnate I'm really sorry, but unfortunately my priorities had shifted right after my last comment and I'm not too optimistic that I'll get to propose a fix in the near future. But yes, I was also thinking in the same direction of about 3 decimals.

[2022-08-11 15:05] DaJansenGit opened #713 "move retrofit_wall() into corresponding subclass"
## What is the problem?

- currently the `retrofit_wall()` lives in wall.py base class but distinguishes by statements like `type(self).__name__ == 'OuterWall':` between the type of wall

## Why do we want to solve it?

- it might make sense to refactor this to prevent confusion and improve readability

## How do we want to solve it?

1. rename the method `retrofit_wall()`method in wall.py into `r

[2022-08-29 16:54] DaJansenGit opened #716 "Update modelica version"
As current IBPSA (see [here](https://github.com/ibpsa/modelica-ibpsa/blob/master/IBPSA/package.mo#L489)) and AixLib use Modelica 4.0.0 we need to upgrade.

[2022-08-30 08:38] DaJansenGit opened #718 "multizone post processing missing connection"
Currently in TEASER exports with `use_postprocessing_calc` attribute activated the exported model misses the connection

[code]
This needs to be fixed.

[2022-08-30 12:50] #718 closed

[2022-08-30 12:51] DaJansenGit commented on #716
closed by #717

[2022-08-30 12:51] #716 closed

[2022-09-16 12:23] l-kotzur opened #721 "Setter functions of buildingobjects in ThermalZone not working"
## What is the problem?

- I cannot modify the outer_walls list in ThermalZone.outer_walls by its public @outer_walls.setter attribute in thermalzone.py line 496.
[code]

or
[code]

[2022-09-19 12:46] Dawac opened #722 "Extending the predefined archetypes by a school and kindergarden type"
We've created and tested archetypes for schools and kindergardens in 2 thesis. The archetypes were validated according to data we collected for these buildings in the Aachen are.
In general the archetype would follow definitions from DIN and SIA, so there's no Aachen-specific data or definition involved for the archetype. The profiles were compared to collected monitoring-data in order to validate

[2022-09-26 12:12] DaJansenGit opened #723 "Allow more current lighting usages"
With the change from xml -> json for use conditions the previous existing parameter `maintained_illuminance` `[Lumen/m²] `was removed. The parameter describes the needed illuminance for the different usages of zones (use condition) and is available in DIN 18599-10.

Currently the lighting power is inserted as a fixed value which seems to come from SIA 2024, didn't found the value in DIN 18599-10.

[2022-09-26 12:13] DaJansenGit commented on #723
@PRemmen Was there a reason to remove the `maintained_illuminance` when you switched from xml -> json?

[2022-09-26 12:24] PRemmen commented on #723
@DaJansenGit no reason that I can remember

[2022-09-27 13:27] DaJansenGit commented on #723
Ok, thanks :) Then I will proceed with the proposed changes and do a PR.

[2022-10-10 12:00] amaccarini opened #724 "Danish tabula archetypes"
Hi,
Some year ago I developed a piece of TEASER code to enable calculation of Danish Tabula archetypes. I just tried to run the code and I got some errors when exporting the models. As an example, I simply tried to replace the string `tabula_de` with `tabula_dk` in line 100 of file _e1_generate_archetype.py_ and then run the file _e3_export_ibpsa_models_. I got some errors that I cannot debug. Hop